# Ignore everything in this directory
*
# Except this file
!.gitignore
!bcl2a1_hrk_2.pdb
!interface_runfile_template.txt
!mutate_runfile_template.txt
!mutation_list.txt
!repair_runfile_template.txt
!run_mutatex_OK.sh
!figs
!mutatex.py
